@font-face {
  font-family: 'Epilogue';
  src: url('../fonts/Epilogue.ttf');
}

:root {
  font-family: 'Epilogue', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;

  color-scheme: light ;
  color: hsl(0, 0%, 8%);
  background-color: hsl(0, 0%, 98%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

 a {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
}

 a:hover{
  text-decoration: none;
  color: hsl(0, 0%, 8%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }